@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #204409;
}

p {
	font-family: 'Fredoka One', cursive;
	font-size: 3rem;
	font-weight: lighter;
	text-align: center;
	margin-top: 30px;
	color: #10641b;
	margin-left: -50px;
}
p a {
	text-decoration: none;
	color: #148f55;
	font-weight: lighter;
	text-align: center;
	font-size: 1.8rem;
}
span a{
	font-size: 3rem;
	text-decoration: none;
	color: #10641b;
	width: 40px;
}
.diamond-grid {
	width: 50%;
	margin: 10px auto 0;
	
}
.item {
	width: 100px;
	height: 100px;
	background: #fff;
	transition: 0.5s;
}
.item img {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) scale(1.5);
	width: 100%;
}
.wrap {
	min-height: calc(100vh - 70px);
}
.footer{
	height: 1px;
  	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
    position: absolute;
    top: -35px;
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    background-color: #204409;
    padding: 5px 15px;
	color: #10641b;
	margin-left: 640px;
}
h2 a {
	text-decoration: none;
	color: #10641b;
}
.page {
	padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    border-top: 1px solid #10641b;
}

@media (max-width: 1257px)
{
	.diamond-grid {
		width: 70%;
		margin: 10px auto 0;
	}
	.item {
		width: 100px;
		height: 100px;
		background: #fff;
		transition: 0.5s;
	}
	.item img {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%) scale(1.5);
		width: 100%;
	}
	h2 {
		margin-left: 470px;
	}
}

@media (max-width: 1252px)
{
	p {
		margin-left: -225px;
	}
	h2 {
		margin-left: 450px;
	}
}
@media (max-width: 1200px)
{
	p {
		margin-left: -170px;
	}
}
@media (max-width: 1095px)
{
	p {
		margin-left: -150px;
	}
	
@media (max-width: 1074px)
{
	p {
		margin-left: -100px;
	}
}
@media (max-width: 1024px)
{
	p {
		margin-left: -81px;
	}
}

@media (max-width: 942px)
{
	.footer{
		margin-top: 150px;
	}
}
@media (max-width: 940px)
{
	h2 {
		margin-left: 310px;
	}
}
@media (max-width: 900px)
{
	p {
		margin-left:-170px;
	}
}
@media (max-width: 768px)
{
	p {
		margin-left:-100px;
	}
	.diamond-grid {
		width: 100%;
		margin: auto 0;
	}
	h2 {
		margin-left: 270px;
	}
}
@media (max-width: 690px)
{
	p {
		margin-left:-50px;
	}
}
@media (max-width: 650px)
{
	h2 {
		margin-left: 180px;
	}
}
@media (max-width: 630px)
{
	p {
		font-size: 2rem;
		margin-left:-150px;
	}
}
@media (max-width: 550px)
{
	p {
		margin-left:-100px;
	}
}
@media (max-width: 470px)
{
	p {
		margin-left:-50px;
	}
}
@media (max-width: 450px)
{
	p {
		margin-left:-21px;
	}
}
@media (max-width: 414px)
{
	p {
		margin-left:34px;
	}
}
@media (max-width: 400px)
{
	p {
		margin-left:-5px;
		font-size: 1.2rem
	}
}
@media (max-width: 380px)
{
	p {
		margin-left:45px;
	}
}